/* contenedor */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0e1216;
}

/* Estilos para el logo */
.logo img {
    height: 80px; 
}

/* Estilos para la sección de la derecha del menú de navegación */
.top-nav-right {
    display: flex;
    align-items: center;
    margin: 30px;
    
}
/* Estilos para los iconos en la sección top-nav-right */
.top-nav-right a i {
    color: #ff4d00; 
}

/* Estilos para los enlaces de la sección derecha */
.top-nav-right a {
    text-decoration: none; 
    color: #ffffff;
    margin-left: 20px;
    font-size: 17px; /* Ajusta el tamaño de la fuente según necesites */
}

/* Estilo para cuando se pasa el mouse sobre los enlaces */
.top-nav-right a:hover {
    color: #ffc800; 
}

/* Estilos para la barra de búsqueda */
.search-container {
    flex: 8px;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
}

/* Estilos para el campo de búsqueda */
.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px; /* Agregado margen derecho */
}

/* Estilos para el botón de búsqueda */
.search-container button {
    padding: 8px 16px;
    background-color: rgb(234, 106, 2); 
    color: #0e1216; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para cuando se pasa el mouse sobre el botón de búsqueda */
.search-container button:hover {
    background-color: #ffd700; 
}
/* Estilos para el botón de menú */
.category-dropdown-btn {
    background-color: #040b14;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para la lista de categorías */
.categories-list {
    display: none;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.categories-list li {
    padding: 5px 0;
}

.categories-list li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 20px;
}

.categories-list li a:hover {
    background-color: #f0f0f0;
}

/* Mostrar la lista de categorías cuando el botón es clickeado */
.category-dropdown-btn.clicked + .categories-list {
    display: block;
}
/* Estilos para el botón de menú */
.category-dropdown-btn {
    background-color: #1d1e1f;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para el contenedor del menú de categorías */
.category-dropdown {
    position: relative;
}

/* Estilos para la lista de categorías */
.categories-list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 200px; /* Ancho del panel de categorías */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegura que el panel esté por encima de otros elementos */
}

.categories-list li {
    padding: 5px 0;
}

.categories-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.categories-list li a:hover {
    background-color: #f0f0f0;
}

/* Mostrar la lista de categorías cuando el botón es clickeado */
.category-dropdown-btn.clicked + .categories-list {
    display: block;
}
/* Estilos para el botón de menú */
.category-dropdown-btn i {
    margin-right: 5px; /* Añade espacio entre el icono y el texto */
}
/* Responsividad */
@media (max-width: 768px) {
    .form {
        width: 90%;
    }
}



/* style.css */

.empresa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .empresa-container > div {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    background-color: white;
  }
  
  .empresa-container h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .empresa-container p {
    color: #666;
    line-height: 1.5;
  }
  
  .empresa-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .empresa-container a:hover {
    text-decoration: underline;
  }
  