/* CUERPO */
body {
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.form {
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none; 
    width: 400px; 
    min-height: 300px; 
    margin: auto; 
}

.form h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: coral;
    font-style: inherit;
    font-weight: 500; 
}

.input-box input {
    width: calc(100% - 26px); 
    box-sizing: border-box; 
}

/* Ajustes de los campos de entrada */
.input-box {
    margin: 13px 0; 
}

.Login-form {
    display: block;
}

.input-box {
    margin: 13px 0;
}

/* Responsividad */
@media (max-width: 768px) {
    .form {
        width: 90%;
    }
}



body {
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 128, 0);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form.signup-form {
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: block; 
    width: 400px; 
    margin: auto; 
}

.form h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 13px 0;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ff7b00;
}

.input-box input {
    width: calc(100% - 30px); 
    padding-right: 30px; 
    box-sizing: border-box; 
    padding: 10px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #f76c6c;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

.button:hover {
    background-color: #f54c4c;
}

.login_signup {
    margin-top: 20px;
    text-align: center;
}

.login_signup a {
    color: #f76c6c;
    text-decoration: none;
    font-weight: bold;
}

.login_signup a:hover {
    text-decoration: underline;
}

.logo img {
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}

/* Responsividad */
@media (max-width: 768px) {
    .form.signup-form {
        width: 90%;
    }
}
